h1 {
  font-style: italic;
}

body {
  height: 160px;
  width: 460px;
  background-position: 50% 50%; 
}



body.background {
  position: absolute;
  top: -100px;
  left: 0;
}

button {
  border: none;
  height: 32px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
